/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the whole page */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation links */
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

/* Main content */
main {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
  }
/* Box Model Practice */

.box {
    width: 250px;
    padding: 20px;
    border: 5px solid black;
    margin: 20px;
    text-align: center;
    font-weight: bold;
}

.content-box {
    background-color: lightblue;
}

.padding-box {
    background-color: lightgreen;
    padding: 40px;
}

.border-box {
    background-color: lightyellow;
    border: 10px solid red;
}

.margin-box {
    background-color: lightpink;
    margin: 40px;
    }
